.text-for-header {
    font-size: 2.75rem;
    font-weight: 300;
    color: #2e3d49;
    margin: 1.71429rem 0;
}
.text-samll-Toupper-case {
    text-transform: uppercase;
    letter-spacing: 0.07143rem;
}
.text-samll-case-deco {
    color: #7d97ad;
    font-weight: 600;
    font-size: 12px;
}
.text-label-deco {
    color: #2e3d49;
    font-size: 1.28571rem;
}
.text-explanation-d {
    color: #525c65;
    font-size: 1.25rem;
    line-height: 1.71429rem;
}
.contain-layout-pos {
    max-width: 61.42857rem;
    margin: 0 auto;
    position: relative;
    padding: 0 2.85714rem;
}