.round-icons-logo {
    border-radius: 40%;
    width: 125px;
    height: 125px;
}
/* 
.photo-user {
    top: 1.5rem;
    left: calc(50% - 80px);
    max-width: 7.14286rem;
    max-height: 7.14286rem;
}

.icon-pos {
  position: absolute; 
}*/
/*.logo-wrap-border{
    background-color: rgba(243,246,248,.94);
   /* border: 4px solid #7d97ad;
    border: 4px solid #fff;
    box-sizing: content-box;
    margin: auto;
    position: relative
}*/

html img {
    max-width: 100%;
}
.click {
    cursor: pointer;
}